@model AddOrUpdateProductPropertyValueForProductViewModel

@{
	ViewData["Title:"] = "پنل مدیریت | ثبت مقادیر ویژه گی های کالا یا محصولات سمت مدیر";
}

@{
    var OldValue = ViewBag.OldValue as List<ProductPropertyOldValueForProductViewModel>;
}

<!--begin::content container-->
<div id="kt_app_content_container" class="app-container container-xxl">
	<!--begin::row-->
	<div class="row gy-5 g-xl-10">
		<!--begin::col-->
		<div class="col-xl-12 mb-xl-12">
			<!--begin::engage widget 1-->
			<div class="card h-md-100" dir="rtl">
				<!--begin::body-->
				<div class="card-body align-items-start flex-column">
					<!--begin::heading-->
					<div class="card-header align-items-start px-0 border-0 pt-50">
						<h3 class="card-title align-items-start flex-column">
							<span class="card-label fw-bold text-dark">ثبت مقدار ویژه گی های کالا یا محصولات جدید</span>
							<span class="text-muted mt-1 fw-semibold fs-7">ثبت اطلاعات مربوط به مقدار ویژه گی های کالا یا محصولات در فروشگاه</span>
						</h3>
						<a asp-action="Index" asp-controller="Product" class="btn btn-light-dark" data-bs-toggle="tooltip" title="بازگشت به لیست کلیه محصولات">
							<i class="ki-outline ki-basket fs-3">
							</i>
							بازگشت به لیست کالا ها یا محصولات
						</a>
					</div>
					<!--begin:Form-->
					<form asp-controller="ProductPropertyValue" asp-action="ProductProperty" method="post">
						<input type="hidden" asp-for="ProductId" />
						<input type="hidden" asp-for="categoryid" />
						<!--begin::details نمایش-->
						<div class="card mb-5 d-flex flex-column nav-group nav-group-outline mx-auto" id="myForm">
							<!--begin::کارت body-->
							<div class="card-body p-9">

								<!--begin::Row-->
								@for (int i = 0; i < Model.propertyNameForProduct.Count(); i++)
								{
									@switch (Model.propertyNameForProduct[i].type)
									{
										case PropertyType.Single_Choice:
											<div class="row mb-5 fw-bold col-lg-6">
												<input class="form-control border-primary fw-semibold fw-bold" type="hidden" name="nameid" value="@Model.propertyNameForProduct[i].NameId" />
												<!--begin::Tags-->
												<label class="col-lg-5 fw-semibold fw-bold">@Model.propertyNameForProduct[i].PropertyNameTitle</label>
												<!--begin::Col-->
												<!--begin::Option-->
												<select name="value" class="form-select border-primary" data-control="select2" data-hide-search="false" style="cursor: pointer;">
													<option value="">@($"{Model.propertyNameForProduct[i].PropertyNameTitle} را انتخاب کنید...")</option>
													@foreach (var item in Model.propertyNameForProduct[i].Values)
													{
														<option selected="@(OldValue.Any(x=>x.ValueId == item.ValueId)?"selected":null)" value="@item.ValueId">@item.Value</option>
													}
												</select>
												<!--end::Option-->
												<!--end::Col-->
											</div>
											break;
									//=========================================================
										case PropertyType.Multiple_Choice:
											<div class="row mb-5 fw-bold col-lg-6 selectList">
												<!--begin::Tags-->
												<label class="col-lg-5 fw-semibold fw-bold">@Model.propertyNameForProduct[i].PropertyNameTitle</label>
												<!--begin::Option-->
												<button type="button" class="btn btn-light-primary fw-bold me-20 add-prop" data-porpname="nameid" data-propvaluename="value" data-name="@Model.propertyNameForProduct[i].NameId">
													<i class="ki-duotone ki-abstract-26 fs-2"><span class="path1"></span><span class="path2"></span></i>انتخاب
												</button>
												<!--end::Option-->
												<select class="form-select border-primary valueProperty" data-control="select2" data-hide-search="false" style="cursor: pointer;">
													<option value="">@($"{Model.propertyNameForProduct[i].PropertyNameTitle} را انتخاب کنید...")</option>
													@foreach (var item in Model.propertyNameForProduct[i].Values)
													{
														@if (OldValue.Any(x => x.ValueId == item.ValueId) == false)
														{
															<option value="@item.ValueId">@item.Value</option>
														}

													}
												</select>
												<!--end::Option-->
												<div class="propertySelected">
													@foreach (var item in OldValue.Where(x => x.NameId == Model.propertyNameForProduct[i].NameId))
													{
														<div class="item-Parent">
															<button type="button" class="btn-remove item-btn-remove">×</button>
															<input type="hidden" value="@item.ValueId" name="value" />
															<input type="hidden" value="@item.NameId" name="nameid" />
															<span class="subtext">@item.Value</span>
														</div>
													}
												</div>
												<!--end::Col-->
											</div>
											break;
									//=========================================================
										case PropertyType.Linear:
											<div class="row mb-5 fw-bold col-lg-6">
												<!--begin::Col-->
												<input class="form-control border-primary fw-semibold fw-bold" type="hidden" name="nameid" value="@Model.propertyNameForProduct[i].NameId" />
												<!--begin::Tags-->
												<label class="col-lg-5 fw-semibold fw-bold">@Model.propertyNameForProduct[i].PropertyNameTitle</label>
												<!--begin::Col-->
												<!--begin::Option-->
												<button type="button" class="btn btn-light-primary fw-bold me-20 add-prop" data-porpname="nameid" data-propvaluename="value" data-name="@Model.propertyNameForProduct[i].NameId">
													<i class="ki-duotone ki-abstract-26 fs-2"><span class="path1"></span><span class="path2"></span></i>انتخاب
												</button>
												<!--end::Col-->
												<!--begin::Col-->
												<input class="form-control border-primary fw-semibold fw-bold" value="@Html.Raw(
                                                OldValue.Find(x=>x.NameId==Model.propertyNameForProduct[i].NameId)==null?"":
                                                OldValue.Find(x=>x.NameId==Model.propertyNameForProduct[i].NameId).Value)" />
												<!--begin::Tags-->
											</div>
											break;
									//=========================================================
										case PropertyType.Written:
											<div class="row mb-5 fw-bold col-lg-6">
												<!--begin::Col-->
												<input class="form-control border-primary fw-semibold fw-bold" type="hidden" name="nameid" value="@Model.propertyNameForProduct[i].NameId" />
												<!--begin::Tags-->
												<label class="col-lg-5 fw-semibold fw-bold">@Model.propertyNameForProduct[i].PropertyNameTitle</label>
												<!--begin::Col-->
												<!--begin::Col-->
												<textarea class="form-control border-primary fw-semibold fw-bold" name="value">@Html.Raw(
													OldValue.Find(x => x.NameId == Model.propertyNameForProduct[i].NameId) == null ? "" :
													OldValue.Find(x => x.NameId == Model.propertyNameForProduct[i].NameId).Value)"</textarea>
												<!--begin::Tags-->
											</div>
											break;
									//=========================================================
										default:
											<div class="row mb-5 fw-bold col-lg-12">
												<span class="badge badge-light-primary">کاربرگرامی: هیچ مقداری در سایت تعریف نشده است!</span>
											</div>
											break;
									}
								}
								<!--begin::Row-->

								<!--end::Row-->
							</div>
							<!--end::کارت body-->
						</div>
						<!--end::details نمایش-->
						<!--begin::Actions-->
						<div class="text-start">
							<button type="submit" class="btn btn-light-primary fw-bold me-3"><i class="ki-duotone ki-plus fs-2"></i><span class="indicator-label">ثبت اطلاعات</span></button>
							<a asp-action="Index" asp-controller="AdminDashboard" class="btn btn-sm btn-light-dark" data-bs-toggle="tooltip" title="بازگشت به صفحه اصلی">
								<i class="ki-duotone ki-home fs-3">
								</i>
								انصراف و بازگشت
							</a>
						</div>
						<!--end::Actions-->
					</form>
					<!--end:Form-->
				</div>
				<!--end::body-->
			</div>
			<!--end::engage widget 1-->
		</div>
		<!--end::col-->
	</div>
	<!--end::row-->
</div>
<!--end::content container-->

@section js {
	<partial name="_MultiSelectForPropertyValuePartial" />
}
@section AdminScripts {
	<!--===================================================================-->
	<!-- Refresh Data in Tables -->
	<script>
		$('#kt_refresh_datatable').on('click', function () {
			// نمایش فرم انیمیشن در زمان ثبت اطلاعات
			const loadingEl = document.createElement("div");
			document.body.prepend(loadingEl);
			loadingEl.classList.add("page-loader");
			loadingEl.classList.add("flex-column");
			loadingEl.classList.add("bg-dark");
			loadingEl.classList.add("bg-opacity-75");
			loadingEl.innerHTML = `
							<span class="spinner-border text-primary" role="status"></span>
							<span class="text-gray-100 fs-5 mt-5">سیستم در حال بروزرسانی اطلاعات ...</span>`;
			KTApp.showPageLoading();
			setTimeout(function () {
				KTApp.hidePageLoading();
				loadingEl.remove();
				window.location.reload();
			}, 2200);
			setTimeout(function () {
				toastr.options = {
					"debug": false,
					"closeButton": false,
					"newestOnTop": false,
					"progressBar": false,
					"positionClass": "toastr-top-center",
					"preventDuplicates": false,
					"showDuration": "600",
					"hideDuration": "2200",
					"timeOut": "2200",
					"extendedTimeOut": "2200",
					"showEasing": "swing",
					"hideEasing": "linear",
					"showMethod": "fadeIn",
					"hideMethod": "fadeOut"
				};
				toastr.success("بروزرسانی انجام شد.");
			}, 800);
		})
	</script>
	<!--===================================================================-->
	<!-- SweetAlert نمایش پیغام به کاربر توسط  -->
	<script>
		function confirmdSwitchActive() {
			Swal.fire({
				showClass: {
					popup: `
						animate__animated
						animate__fadeInUp
						animate__faster`
				},
				hideClass: {
					popup: `
						animate__animated
						animate__fadeOutDown
						animate__faster`
				},
				icon: 'success',
				title: "عملیات فعالسازی دسته بندی منوی انجام شد.",
				confirmButtonText: "انجام شد. بازگشت",
				position: "top-center",
				// footer: '<span class="badge badge-light-warning"> ثبت نهایی: فشردن دسکه ویرایش اطلاعات</span>'
				reverseButtons: false,
				customClass: {
					confirmButton: "btn btn-primary"
				}
			})
		}
	</script>
}