@model AddOrUpdateProductPropertyValueForProductViewModel

@{
    var OldValue = ViewBag.OldValue as List<ProductPropertyOldValueForProductViewModel>;
}
@{
	ViewData["Title:"] = "پنل مدیریت | ثبت مقادیر ویژه گی های کالا یا محصولات سمت مدیر";
}

@section scripts
{
	<partial name="_ValidationScriptsPartial" />
}

<!--begin::content container-->
<div id="kt_app_content_container" class="app-container container-xxl">
	<!--begin::row-->
	<div class="row gy-5 g-xl-10">
		<!--begin::col-->
		<div class="col-xl-12 mb-xl-12">
			<!--begin::engage widget 1-->
			<div class="card h-md-100" dir="rtl">
				<!--begin::body-->
				@for (int i = 0; i < Model.propertyNameForProduct.Count(); i++)
				{
					@switch (Model.propertyNameForProduct[i].type)
					{
						case PropertyType.Single_Choice:
							<div class="form-group">
								<input type="hidden" name="nameid" value="@Model.propertyNameForProduct[i].NameId" />
								<label>@Model.propertyNameForProduct[i].PropertyNameTitle</label>
								<select name="value" class="form-control">
									<option value="">@($"{Model.propertyNameForProduct[i].PropertyNameTitle} را انتخاب کنید ")</option>
									@foreach (var item in Model.propertyNameForProduct[i].Values)
									{
										<option selected="@(OldValue.Any(x=>x.ValueId == item.ValueId)?"selected":null)" value="@item.ValueId">@item.Value</option>
									}
								</select>
							</div>
							break;

						case PropertyType.Multiple_Choice:

							<div class="form-group selectList">
								<label>@Model.propertyNameForProduct[i].PropertyNameTitle</label>
								<div class="row">

									<div class="col-lg-4">
										<button type="button" class="btn btn-success col-lg-6  add-prop"
												data-porpname="nameid"
												data-propvaluename="value"
												data-nameid="@Model.propertyNameForProduct[i].NameId">
											انتخاب
										</button>

									</div>
									<select class="form-control col-lg-8 valueProperty">
										@foreach (var item in Model.propertyNameForProduct[i].Values)
										{
											@if (OldValue.Any(x => x.ValueId == item.ValueId) == false)
											{
												<option value="@item.ValueId">@item.Value</option>
											}

										}
									</select>

								</div>

								<div class="propertySelected">
									@foreach (var item in OldValue.Where(x => x.NameId == Model.propertyNameForProduct[i].NameId))
									{
										<div class="item-Parent">
											<button type="button" class="btn-remove item-btn-remove">×</button>
											<input type="hidden" value="@item.ValueId" name="value" />
											<input type="hidden" value="@item.NameId" name="nameid" />
											<span class="subtext">@item.Value</span>
										</div>
									}
								</div>
							</div>

							break;

						case PropertyType.Linear:
							<div class="form-group">
								<input type="hidden" name="nameid" value="@Model.propertyNameForProduct[i].NameId" />
								<label>@Model.propertyNameForProduct[i].PropertyNameTitle</label>
								<input class="form-control" name="value" value="@Html.Raw(
                                                OldValue.Find(x=>x.NameId==Model.propertyNameForProduct[i].NameId)==null?"":
                                                OldValue.Find(x=>x.NameId==Model.propertyNameForProduct[i].NameId).Value)" />
							</div>
							break;

						case PropertyType.Written:
							<div class="form-group">
								<input type="hidden" name="nameid" value="@Model.propertyNameForProduct[i].NameId" />
								<label>@Model.propertyNameForProduct[i].PropertyNameTitle</label>
								<textarea class="form-control" name="value">@Html.Raw(
											OldValue.Find(x => x.NameId == Model.propertyNameForProduct[i].NameId) == null ? "" :
											OldValue.Find(x => x.NameId == Model.propertyNameForProduct[i].NameId).Value)"</textarea>
							</div>
							break;

						default:
							<div class="form-group">
								<span>تعریف نشده</span>
							</div>
							break;
					}

				}
				<!--end::body-->
			</div>
			<!--end::engage widget 1-->
		</div>
		<!--end::col-->
	</div>
	<!--end::row-->
</div>
<!--end::content container-->
@section js {
	<partial name="_MultiSelectForPropertyValuePartial" />
}
@section AdminScripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

	<!--اسکریپت تغییر نام عکس انتخاب شده-->
	<script>
		document.querySelector("#files").onchange = function () {
			const fileName = this.files[0]?.name;
			const label = document.querySelector("label[for=files]");
			label.innerText = fileName ?? "تصویر کالای خود را انتخاب و بارگزاری نمایید ...";
		};
	</script>
	<!--==================================================================-->
	<!-- Refresh Data in Tables -->
	<script>
		$('#kt_refresh_datatable').on('click', function () {
			// نمایش فرم انیمیشن در زمان ثبت اطلاعات
			const loadingEl = document.createElement("div");
			document.body.prepend(loadingEl);
			loadingEl.classList.add("page-loader");
			loadingEl.classList.add("flex-column");
			loadingEl.classList.add("bg-dark");
			loadingEl.classList.add("bg-opacity-75");
			loadingEl.innerHTML = `
									<span class="spinner-border text-primary" role="status"></span>
									<span class="text-gray-100 fs-5 mt-5">سیستم در حال بروزرسانی اطلاعات ...</span>`;
			KTApp.showPageLoading();
			setTimeout(function () {
				KTApp.hidePageLoading();
				loadingEl.remove();
				window.location.reload();
			}, 2200);
			setTimeout(function () {
				toastr.options = {
					"debug": false,
					"closeButton": false,
					"newestOnTop": false,
					"progressBar": false,
					"positionClass": "toastr-top-center",
					"preventDuplicates": false,
					"showDuration": "600",
					"hideDuration": "2200",
					"timeOut": "2200",
					"extendedTimeOut": "2200",
					"showEasing": "swing",
					"hideEasing": "linear",
					"showMethod": "fadeIn",
					"hideMethod": "fadeOut"
				};
				toastr.success("بروزرسانی انجام شد.");
			}, 800);
		})
	</script>
	<!--===================================================================-->
	<!-- اسکریپت آژاکس مربوط به حذف قیمت -->
	<script>
		function emptyInputInvalid(brandid) {
			Swal.fire({
				showClass: {
					popup: `
							animate__animated
							animate__fadeInUp
							animate__faster`
				},
				hideClass: {
					popup: `
							animate__animated
							animate__fadeOutDown
							animate__faster`
				},
				icon: 'warning',
				title: "آیا از حذف قیمت انتخاب شده مطمئن هستید ؟",
				text: "حذف قیمت جاری از سیستم",
				confirmButtonText: "بلی, حذف شود.",
				cancelButtonText: "خیر, انصراف!",
				position: "top-center",
				showCancelButton: true,
				reverseButtons: false,
				customClass: {
					confirmButton: "btn btn-danger",
					cancelButton: "btn btn-secondary"
				}
			})
		}
	</script>
	<!-- اسکریپت آژاکس مربوط به حذف قیمت -->
}
