@model UpdateCategoryViewModel
@{
    var ParentList = ViewBag.Parents as List<GetParentCategoryForAddOrRemoveSubViewModel>;
    var OldParent = new List<GetParentCategoryForAddOrRemoveSubViewModel>();
    var CategoryList = ViewBag.ParentList as List<GetCategoriesForParentListViewModel>;
}

@{
	ViewData["Title:"] = "پنل مدیریت | ویرایش اطلاعات لیست دسته بندی های سمت مدیر";
}

@section CategoryStyleCSS {
	<link href="~/assets/css/selectcategory.css" rel="stylesheet" />
}

<!--begin::content container-->
<div id="kt_app_content_container" class="app-container container-xxl">
	<!--begin::row-->
	<div class="row gy-5 g-xl-10">
		<!--begin::col-->
		<div class="col-xl-12 mb-xl-12">
			<!--begin::engage widget 1-->
			<div class="card h-md-100" dir="rtl">
				<!--begin::body-->
				<div class="card-body align-items-start flex-column">
					<!--begin::heading-->
					<div class="card-header align-items-start px-0 border-0 pt-50">
						<h3 class="card-title align-items-start flex-column">
							<span class="card-label fw-bold text-dark">شما در حال ویرایش دسته بندی منوی: <span class="badge badge-light-warning pulse pulse-warning fw-normal FEN"><span class="pulse-ring"></span>@Model.FaTitle</span> هستید.</span>
							<span class="text-muted mt-1 fw-semibold fs-7">ویرایش اطلاعات مربوط به دسته بندی جاری در فروشگاه</span>
						</h3>
						<a asp-action="Index" asp-controller="Category" class="btn  btn-sm btn-light-dark" data-bs-toggle="tooltip" title="بازگشت به صفحه اصلی">
							<i class="ki-duotone ki-home fs-3">
							</i>
							بازگشت به لیست دسته بندی ها
						</a>
					</div>
					<!--begin:Form-->
					<form asp-controller="Category" asp-action="Update"
						  method="post"
						  data-ajax="true"
						  data-callback=""
						  data-action="Refresh"
						  enctype="multipart/form-data">
						<input type="hidden" asp-for="CategoryId" />

						<!--begin::details نمایش-->
						<div class="card mb-5 d-flex flex-column nav-group nav-group-outline mx-auto" id="myForm">
							<!--begin::کارت body-->
							<div class="card-body p-9">
								<!--begin::Row-->
								<div class="row mb-7">
									<!--begin::Tags-->
									<label asp-for="FaTitle" class="col-lg-4 fw-semibold fw-bold">نام دسته بندی (فارسی.)</label>
									<!--end::Tags-->
									<!--begin::Col-->
									<div class="col-lg-8">
										<input type="text" asp-for="FaTitle" id="kt_docs_maxlength_custom_text" maxlength="64 " class="form-control border-warning bg-light-warning text-dark" autocomplete="off" placeholder="نام دسته بندی را به فارسی وارد نمایید.">
										<span asp-validation-for="FaTitle" class="badge bg-red-thunderbird bg-font-red-thunderbird"></span>
									</div>
									<!--end::Col-->
								</div>
								<!--end::Row-->
								<!--begin::Input group-->
								<div class="row mb-7">
									<!--begin::Tags-->
									<label asp-for="EnTitle" class="col-lg-4 fw-semibold fw-bold">
										نام دسته بندی (انگلیسی).
										<span class="ms-1" data-bs-toggle="tooltip" title="Dear user: The name of the category must be written in Latin.">
											<i class="ki-outline ki-information fs-7"></i>
										</span>
									</label>
									<!--end::Tags-->
									<!--begin::Col-->
									<div class="col-lg-8">
										<input type="text" asp-for="EnTitle" id="kt_docs_maxlength_custom_Entext" maxlength="64 " class="form-control  border-warning bg-light-warning text-dark FEN text-end" autocomplete="off" placeholder="Enter the brand name in English">
										<span asp-validation-for="EnTitle"></span>
									</div>
									<!--end::Col-->
								</div>
								<!--end::Input group-->
								<!--begin::Input group-->
								<!--begin::Row-->
								<div class="row mb-7">
									<!--begin::Tags-->
									<label asp-for="Icon" class="col-lg-4 fw-semibold fw-bold">تصویر یا آیکن دسته بندی.</label>
									<!--end::Tags-->
									<!--begin::Col-->
									<div class="col-lg-8">
										<input type="text" asp-for="Icon" class="form-control border-warning bg-light-warning text-dark" autocomplete="off" placeholder="شما می توانید برای دسته بندی خود یک آیکن تصویری انتخاب کنید.">
										<span asp-validation-for="Icon"></span>
									</div>
									<!--end::Col-->
								</div>
								<!--end::Row-->
								<!--begin::Row-->
								<div class="row mb-7">
									<!--begin::Tags-->
									<label asp-for="Description" class="col-lg-4 fw-semibold fw-bold">توضیحات دسته بندی.</label>
									<!--end::Tags-->
									<!--begin::Col-->
									<div class="col-lg-8">
										<input type="text" asp-for="Description" class="form-control border-warning bg-light-warning text-dark" autocomplete="off" placeholder="شما می توانید برای دسته بندی خود توضیحاتی را به فارسی وارد نمایید.">
										<span asp-validation-for="Description"></span>
									</div>
									<!--end::Col-->
								</div>
								<!--end::Row-->
								<div class="row mb-7">
									<!--begin::Tags-->
									<label asp-for="ImgName" class="col-lg-4 fw-semibold fw-bold">
										بارگزاری تصویر برای دسته بندی.
										<span asp-validation-for="ImgName" class="badge badge-light-danger"></span>
									</label>
									<!--end::Tags-->
									<!--begin::Col-->
									<div class="col-lg-8">
										<label for="files" class="btn fw-bold btn-light-warning">انتخاب و بارگزاری تصویر دسته بندی...</label>
										<span class="badge badge-light-warning fs-5 FEN fw-bold text-dark">png, jpg, jpeg: پسوند های مجاز</span>
										<input asp-for="ImgName" style="display:none;" type="file" id="files" class="form-control FEN input_container">
										<span asp-validation-for="ImgName" class="badge bg-red-thunderbird bg-font-red-thunderbird"></span>
									</div>
									<!--end::Col-->
								</div>
								<!--begin::Col-->
								<div class="row mb-7">
									<!--begin::Tags-->
									<label asp-for="IsActive" class="col-lg-4 fw-semibold fw-bold">
										فعال یا غیرفعاسازی دسته بندی.
										<span asp-validation-for="IsActive" class="badge badge-light-danger"></span>
									</label>
									<!--end::Tags-->
									<div class="col-lg-8">
										<div class="d-flex align-items-center border border-dashed border-gray-300 rounded px-7 py-3">
											<!--begin::آیتم-->
											<div class="d-flex flex-aligns-center pe-10 pe-lg-20">
												<div class="form-check form-switch form-check-custom form-check-solid me-10">
													<input asp-for="IsActive" class="form-check-input h-30px w-50px" onclick="confirmdSwitchSliderCommand()" type="checkbox" id="flexSwitch30x50" style="cursor: pointer;" />
													<label class="form-check-label fw-semibold fw-bold text-dark" for="flexSwitch30x50">
														آیا دسته بندی جدید در سایت ویرایش شود؟
														<span asp-validation-for="IsActive" class="badge badge-light-danger mb-1"></span>
													</label>
												</div>
											</div>
											<!--end::آیتم-->
										</div>
									</div>
								</div>
								<div class="row mb-7">
									<!--begin::Tags-->
									<label asp-for="IsMain" class="col-lg-4 fw-semibold fw-bold">
										ویرایش دسته بندی در منوی اصلی.
										<span asp-validation-for="IsMain" class="badge badge-light-danger"></span>
									</label>
									<!--end::Tags-->
									<div class="col-lg-8">
										<div class="d-flex align-items-center border border-dashed border-gray-300 rounded px-7 py-3">
											<!--begin::آیتم-->
											<div class="d-flex flex-aligns-center pe-10 pe-lg-20">
												<div class="form-check form-switch form-check-custom form-check-solid me-10">
													<input asp-for="IsMain" class="form-check-input h-30px w-50px" onclick="confirmdSwitchSliderCommand()" type="checkbox" id="flexSwitch30x50" style="cursor: pointer;" />
													<label class="form-check-label fw-semibold fw-bold text-dark" for="flexSwitch30x50">
														آیا دسته بندی جدید در منوی اصلی ویرایش شود؟
														<span asp-validation-for="IsMain" class="badge badge-light-danger mb-1"></span>
													</label>
												</div>
											</div>
											<!--end::آیتم-->
										</div>
									</div>
								</div>
								<!--begin::Input group-->
								<div class="d-flex align-items-center border border-dashed border-gray-300 rounded px-7 py-3">
									<!--begin::Tags-->
									<label asp-for="IsMain" class="col-lg-4 fw-semibold fw-bold">
										انتخاب زیردسته
									</label>
									<!--end::Tags-->
									<!--begin::آیتم-->
									<div class="d-flex align-items-center min-w-100px">
										<!--begin::Option-->
										<button type="button" class="btn btn-sm btn-light-warning me-20 add-parent" data-name="addOrUpdateParent.ParentId">
											<i class="ki-duotone ki-abstract-26 fs-2"><span class="path1"></span><span class="path2"></span></i>انتخاب
										</button>
										<!--end::Option-->
									</div>
									<!--end::آیتم-->
									<!--begin::آیتم-->
									<div class="d-flex align-items-center min-w-300px">
										<!--begin::Option-->
										<select id="ParentList" class="form-select" data-control="select2" data-hide-search="false" data-placeholder="انتخاب دسته بندی ها">
											@foreach (var item in CategoryList)
											{
												@if (ParentList.Where(x => x.CategoryId == item.CategoryId).Any())
												{
													OldParent.Add(new GetParentCategoryForAddOrRemoveSubViewModel
												{
													CategoryId = item.CategoryId,
													FaTitle = item.FaTitle,
												});
												}
												else
												{
													<option value="@item.CategoryId">@item.FaTitle</option>
												}
											}
										</select>
										<!--end::Option-->
									</div>
									<!--end::آیتم-->
								</div>
								<!--begin::Col-->
								<!--begin::Option-->
								<span class="ParentListSelected">
									@if (OldParent.Count() > 0)
									{
										@foreach (var item in OldParent)
										{
											<div class="item-Parent">
												<button type="button" class="btn-remove item-btn-remove">×</button>
												<input type="hidden" value="@item.CategoryId" name="addOrUpdateParent.ParentId" /><span>@item.FaTitle</span>
											</div>
										}
									}
								</span>
								<!--end::Option-->
							</div>
							<!--end::کارت body-->
						</div>
						<!--end::details نمایش-->

						<!--begin::Actions-->
						<div class="text-start">
							<button type="submit" class="btn btn-light-warning fw-bold me-3"><i class="ki-duotone ki-pencil fs-3"><span class="path1"></span><span class="path2"></span></i><span class="indicator-label">ویرایش اطلاعات</span></button>
							<a asp-action="Index" asp-controller="AdminDashboard" class="btn  btn-sm btn-light-dark" data-bs-toggle="tooltip" title="بازگشت به صفحه اصلی">
								<i class="ki-duotone ki-home fs-3">
								</i>
								انصراف و بازگشت
							</a>
						</div>
						<!--end::Actions-->
					</form>
					<!--end:Form-->
				</div>
				<!--end::body-->
			</div>
			<!--end::engage widget 1-->
		</div>
		<!--end::col-->
	</div>
	<!--end::row-->
</div>
<!--end::content container-->
@section js {
	<!--اسکریپت دسته بندی های انتخاب شده و نمایش آن-->
	<!--==================================================================-->
	<partial name="_MultiSelectJsPartial" />
}
@section AdminScripts {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

	<!--اسکریپت تغییر نام عکس انتخاب شده-->
	<script>
		document.querySelector("#files").onchange = function () {
			const fileName = this.files[0]?.name;
			const label = document.querySelector("label[for=files]");
			label.innerText = fileName ?? "تصویر دسته بندی خود را انتخاب و بارگزاری نمایید ...";
		};
	</script>
	<!--==================================================================-->
	<script>
		// نمایش حداکثر تعداد کاراکتر وارد شده به فارسی
		$('#kt_docs_maxlength_custom_text').maxlength({
			threshold: 64,
			warningClass: "badge badge-danger",
			limitReachedClass: "badge badge-primary",
			separator: ' از ',
			preText: ' حداکثر ',
			postText: 'کاراکتر استفاده شده است.',
			validate: true
		});
	</script>
	<script>
		// نمایش حداکثر تعداد کاراکتر وارد شده به انگلیسی
		$('#kt_docs_maxlength_custom_Entext').maxlength({
			threshold: 64,
			warningClass: "badge badge-danger",
			limitReachedClass: "badge badge-primary",
			separator: ' of ',
			preText: 'You have ',
			postText: ' chars remaining.',
			validate: true
		});
	</script>
	<!-- Refresh Data in Tables -->
	<script>
		$('#kt_refresh_datatable').on('click', function () {
			// نمایش فرم انیمیشن در زمان ثبت اطلاعات
			const loadingEl = document.createElement("div");
			document.body.prepend(loadingEl);
			loadingEl.classList.add("page-loader");
			loadingEl.classList.add("flex-column");
			loadingEl.classList.add("bg-dark");
			loadingEl.classList.add("bg-opacity-75");
			loadingEl.innerHTML = `
							<span class="spinner-border text-primary" role="status"></span>
							<span class="text-gray-100 fs-5 mt-5">سیستم در حال بروزرسانی اطلاعات ...</span>`;
			KTApp.showPageLoading();
			setTimeout(function () {
				KTApp.hidePageLoading();
				loadingEl.remove();
				window.location.reload();
			}, 2200);
			setTimeout(function () {
				toastr.options = {
					"debug": false,
					"closeButton": false,
					"newestOnTop": false,
					"progressBar": false,
					"positionClass": "toastr-top-center",
					"preventDuplicates": false,
					"showDuration": "600",
					"hideDuration": "2200",
					"timeOut": "2200",
					"extendedTimeOut": "2200",
					"showEasing": "swing",
					"hideEasing": "linear",
					"showMethod": "fadeIn",
					"hideMethod": "fadeOut"
				};
				toastr.success("بروزرسانی انجام شد.");
			}, 800);
		})
	</script>
	<!--===================================================================-->
	<!-- اسکریپت آژاکس مربوط به حذف قیمت -->
	<script>
		function emptyInputInvalid(brandid) {
			Swal.fire({
				showClass: {
					popup: `
										animate__animated
										animate__fadeInUp
										animate__faster`
				},
				hideClass: {
					popup: `
										animate__animated
										animate__fadeOutDown
										animate__faster`
				},
				icon: 'warning',
				title: "آیا از حذف قیمت انتخاب شده مطمئن هستید ؟",
				text: "حذف قیمت جاری از سیستم",
				confirmButtonText: "بلی, حذف شود.",
				cancelButtonText: "خیر, انصراف!",
				position: "top-center",
				showCancelButton: true,
				reverseButtons: false,
				customClass: {
					confirmButton: "btn btn-danger",
					cancelButton: "btn btn-secondary"
				}
			})
		}
	</script>
	<!-- اسکریپت آژاکس مربوط به حذف قیمت -->
}
